/* Main */

.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 30px;
}

.header-conteudo {
    margin-top: 150px;
}

.header-conteudo h1 {
    font-size: 3.5rem;
    line-height: 1.1;
}

.descricao-header {
    color: #464646;
    margin-top: 20px;
    font-size: 1.3rem;
}

.autor {
    margin-top: 40px;
    font-weight: 700;
    color: #555;
}

.autor span {
    color: #fc7700;
}

.data-postagem {
    color: #555;
    margin-top: 10px;
}

.redes-sociais {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

hr {
    margin: 40px 0;
}

.conteudo {
    max-width: 800px;
    margin-inline: auto;
}

.descricao-conteudo {
    color: #464646;
    font-size: 1.3rem;
    line-height: 1.5;
}

.descricao-imagem {
    font-size: 0.8rem;
    color: #555;
    margin-top: 20px;
}

.mais-noticias {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fc7700;
    margin: 30px 0px 40px 0px;
}

.mais-noticias span {
    color: #464646;
    font-weight: normal;
}

.titulo-lista {
    font-size: 2rem;
    margin-left: 10px;
    margin-bottom: 20px;
}

.img-geladeira {
    margin-top: 50px;
}

.detalhe {
    margin-top: 40px;
}

.detalhe-titulo {
    margin-top: 30px;
}

@media (max-width: 800px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 486px) {
    .header-conteudo h1 {
        font-size: 4ch;
    }
}

@media (max-width: 360px) {
    .header-conteudo h1 {
        font-size: 2rem;
    }
}


@media (max-width: 340px) {

    .header-conteudo h1 {
        font-size: 3ch;
    }

    .titulo-lista {
        font-size: 1.4rem;
    }

    .descricao-conteudo {
        font-size: 0.8rem;
    }

    .descricao-header {
        font-size: 1rem;
    }

    .img-social {
        width: 30px;
        height: 30px;
    }

    .header-conteudo {
        margin-top: 70px;
    }
}